.bg {
    background-color: #666;
    /* background-image: url(../img/body-bg.png); */
}

.bg-858585 {
    background-color: #858585;
}

.h-500 {
    height: 500px;
}

.w-360 {
    width: 360px;
}

.b-log {
    background-color: #858585;
}

.control-label {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #67757c;
}

.c-eee {
    color: #eee;
}

.f-s-25 {
    font-size: 25px;
}

.mt-100 {
    margin-top: 100px;
}

.c-danger {
    color: #ef5350;
}

.b-danger {
    border-color: #ef5350 !important;
}

.add-items {
    display: none;
}

.w-5 {
    width: 50%;
}

.select2-selection__rendered {
    border: 1px solid gray;
}

.us {
    box-shadow: 0 0 5px 0px #8477ca;
}

.select2-selection--single {
    background-color: #fff;
    border: none !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px !important;
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 34px !important;
}

.paid {
    color: green;
}

.open {
    color: #9F3400;
}

.cancelled {
    color: red;
}

.footer{
    position: fixed;    bottom: 0px;    text-align: center; width: 100%;    background-color: #9da9b3;
}

.part_paid {
    color: palegreen;
}

.show-alert{
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%);
    z-index: 2000;
}

.invoice-no {
    color: #337ab7;
    cursor: pointer;
    width: 150px;
}

.req::after {
    content: ' *';
    color: red;
}

.btn,
.form-control,
.custom-select, 
.modal-content{
    border-radius: 0;
}

.uc {
    text-transform: uppercase;
}

.inpt:focus{
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}
#chartdiv, #sales_report_graph, #purchase_report_graph, #profit_report_graph {
    /* width: 100%; */
    height: 500px;
    margin: 20px;
}

.chart-bx{
    border: 1px solid #ddd;
    margin-top: 40px;
    min-height: 580px;
}

.chart-bx-head{
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.bg-f5f5f5{
    background-color: #f5f5f5 !important;
}

.chart-bx-title{
    line-height: 36px;
    padding-left: 20px;
    float: left;
}
.chart-bx-filter{
    float: right;
    height: 36px;
}

.clr{
    clear: both;
}

.panel-heading {
    padding: 20px;
    color: white;
}

.panel-body {
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    text-transform: uppercase;
}

.b-nd-bg-purchase{
    border: 1px solid #496c90;
    background-color: #496c90;
}


.b-nd-bg-stock{
    border: 1px solid #4178b3;
    background-color: #4178b3;
}


.b-nd-bg-profit{
    border: 1px solid #477b63;
    background-color: #477b63;
}